body {
    /* padding: 10px; */
    font-family: sans-serif;
    margin: 0;

    /* 打印样式 */
    @media print {
        .print-section {
        display: block;
        }

        .non-print-section {
        display: none;
        }
    }
}